@page "/"

<PageTitle>Index</PageTitle>

<html>
<link href="/css/stylesheet.css" rel="stylesheet" />
<body>
    <h2>Start Page?</h2>
    <span class="gotologin">Already have an Account? <a href="Login">Sign in</a></span>
    <span class="gotoregister">Don't have an Account? <a href="Register">Sign up</a></span>
</body>
</html>

@code
{
}
