@page "/"

<PageTitle>Index</PageTitle>

<html>
<link href="/css/stylesheet.css" rel="stylesheet" />
<body>
    <h2>Start Page?</h2>
    <AuthorizeView>
        <Authorized>
            <h1>Logged in as, @context.User.Identity.Name!</h1>
        </Authorized>
        <NotAuthorized>
            <span class="gotologin">Already have an Account? <a href="Login">Sign in</a></span>
            <span class="gotoregister">Don't have an Account? <a href="Register">Sign up</a></span>
        </NotAuthorized>
    </AuthorizeView>
</body>
</html>

@code
{
}
