@page "/Register"
@using MongoDB.Driver;
@inject NavigationManager NavManager

<PageTitle>Register</PageTitle>

<html>
<link href="/css/stylesheet.css" rel="stylesheet" />
<body>
    <h2>Register</h2>
    <div class="container">
        <label><b>Username oder Email</b></label>
        <input type="text" @bind="@userNameInput" @oninput="OnUserNameEvent" placeholder="Enter Username" id="userName" name="userName" runat="server" required>

        <label><b>Passwort</b></label>
        <input type="password" @bind="@passwordInput" @oninput="OnPasswordEvent" placeholder="Enter Password" name="psw" required>

        <label><b>Passwort wiederholen</b></label>
        <input type="password" @bind="@passwordInput2" @oninput="OnPassword2Event" placeholder="Enter Password" name="psw" required>

        <button type="submit" @onclick="onRegisterClick" runat="server" CausesValidation="False">Sign up</button>
    </div>
    <div class="container" style="background-color:#f1f1f1">
        <span class="login">Already have an Account? <a href="Login">Sign in</a></span>
    </div>
</body>
</html>

@code
{
    public void onRegisterClick()
    {
        var client = new MongoClient("mongodb+srv://Flo:shelly@shelly.ikeunhp.mongodb.net/?retryWrites=true&w=majority");
        var mongodb = client.GetDatabase("BenutzerDatabase");
        var collection = mongodb.GetCollection<Benutzer>("Benutzer");

        if (passwordInput == passwordInput2)
        {
            Benutzer newBenutzer = new Benutzer()
                {
                    Email = userNameInput,
                    Passwort = passwordInput
                };
            collection.InsertOne(newBenutzer);
        }
        NavManager.NavigateTo("Dashboard");
    }

    private string userNameInput = "";
    private string passwordInput = "";
    private string passwordInput2 = "";
    private void OnUserNameEvent(ChangeEventArgs changeEvent)
    {
        userNameInput = (string)changeEvent.Value;
    }
    private void OnPasswordEvent(ChangeEventArgs changeEvent)
    {
        passwordInput = (string)changeEvent.Value;
    }
    private void OnPassword2Event(ChangeEventArgs changeEvent)
    {
        passwordInput2 = (string)changeEvent.Value;
    }
}
