@page "/ResetPwd"
@using MongoDB.Driver;
@inject NavigationManager NavManager

<PageTitle>Passwort Wiederherstellung</PageTitle>

<html>
<link href="/css/stylesheet.css" rel="stylesheet" />
<body>
    <h2>Passwort Wiederherstellung</h2>
    <div class="container">
        <label><b>Username oder Email</b></label>
        <input type="text" @bind="@userNameInput" @oninput="OnUserNameEvent" placeholder="Enter Username" id="userName" name="userName" runat="server" required>

        <label><b>Neues Passwort</b></label>
        <input type="password" @bind="@passwordInput" @oninput="OnPasswordEvent" placeholder="Enter Password" name="psw" required>

        <label><b>Neues Passwort wiederholen</b></label>
        <input type="password" @bind="@passwordInput2" @oninput="OnPassword2Event" placeholder="Enter Password" name="psw" required>

        <button type="submit" @onclick="onRegisterClick" runat="server" CausesValidation="False">Passwort ändern</button>
    </div>
    <div class="container" style="background-color: #121212;color:white;border-radius: 10px;">
        <span class="login">Back to login <a href="Login">Sign in</a></span>
    </div>
</body>
</html>

@code
{
    public void onRegisterClick()
    {
            var client = new MongoClient("mongodb + srv://Flo:shelly123@shelly.ikeunhp.mongodb.net/?retryWrites=true&w=majority");
        var mongodb = client.GetDatabase("BenutzerDatabase");
        var collection = mongodb.GetCollection<Benutzer>("Benutzer");

        var filter = Builders<Benutzer>.Filter.Eq("Email", userNameInput);
        var updater = Builders<Benutzer>.Update.Set("Passwort", passwordInput);

        var benutzer = collection.Find(filter).FirstOrDefault();

        collection.FindOneAndUpdate(filter,updater);

        if (passwordInput == passwordInput2)
        {
            collection.FindOneAndUpdate(filter,updater);
        }
        NavManager.NavigateTo("Login");
    }

    private string userNameInput = "";
    private string passwordInput = "";
    private string passwordInput2 = "";
    private void OnUserNameEvent(ChangeEventArgs changeEvent)
    {
        userNameInput = (string)changeEvent.Value;
    }
    private void OnPasswordEvent(ChangeEventArgs changeEvent)
    {
        passwordInput = (string)changeEvent.Value;
    }
    private void OnPassword2Event(ChangeEventArgs changeEvent)
    {
        passwordInput2 = (string)changeEvent.Value;
    }
}
