
/* Reset default browser styles */ * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Page layout */
body {
    /*
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    */
    background-color: #5A5A5A;
    color: white;
}
/* Dashboard container */ .dashboard {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    padding: 20px;
    width: 100%;
}
/* Individual plug cards */
.plug-card {
    background-color: #464646;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 300px;
    margin: 10px;
}

    .plug-card h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .plug-card p {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .plug-card button {
        background-color: #383838;
        border: none;
        border-radius: 4px;
        color: white;
        cursor: pointer;
        font-size: 16px;
        margin-top: 10px;
        padding: 10px;
        transition: background-color 0.2s;
    }

        .plug-card button:hover {
            background-color: #3e8e41;
        }

/* single plug*/ .single-plug {
    background-color: #121212;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 20px;
    /*width: 300px;*/
    margin: 10px;
}
.single-plug h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.single-plug p {
    font-size: 16px;
    margin-bottom: 10px;
}

.single-plug button {
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px;
    transition: background-color 0.2s;
}

    .single-plug button:hover {
        background-color: #3e8e41;
    }
#addPlug {
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    transition: background-color 0.2s;
}

    #addPlug button:hover {
        background-color: #3e8e41;
    }

.grid-container {
    display: grid;
    grid-template-columns: 320px 320px 320px;
    align-content: center;
    justify-content: center;
}