<div class="top-row ps-3 navbar navbar-dark">    
    <div class="container-fluid">        
        <a class="navbar-brand" href="">Shelly-PlugS</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">                
            <span class="navbar-toggler-icon"></span></button>        
    </div>    
</div>    
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">        
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AddPlug">
                <span class="oi oi-plus" aria-hidden="true"></span>Add Plug
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Dashboard">
                <span class="oi oi-bar-chart" aria-hidden="true"></span>Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">                
            <NavLink class="nav-link" href="Counter">                    
            <span class="oi oi-plus" aria-hidden="true"></span>Timer</NavLink>            
        </div>            
        <div class="nav-item px-3">                
            <NavLink class="nav-link" href="weeklyschedule">
                <span class="oi oi-calendar" aria-hidden="true"></span>Weekly Schedule
            </NavLink>
        </div>                       
        <div class="nav-item px-3">                
            <NavLink class="nav-link" href="Notifications">
                <span class="oi oi-envelope-closed" aria-hidden="true"></span>Notifications
            </NavLink>
        </div>            
        <div class="nav-item px-3">                
            <NavLink class="nav-link" href="settings">
                <span class="oi oi-cog" aria-hidden="true"></span>Settings
            </NavLink>
        </div>        
    </nav>
</div>


@code {
        private bool collapseNavMenu = true;
        private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
        private void ToggleNavMenu()
        {
            collapseNavMenu = !collapseNavMenu;
        }
    }